/*
0-600px phone
600-900px tablet portrait
900-1200px tablet landscape

1200-1800px is where our normal styles apply (Desk Top First Approach)

1800px + big screen

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER OF ADDING M QUERIES
base - typography
general layout and grid
page layour
components 
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

input {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: center;
  box-sizing: border-box;
  border: 1px #55c57a solid; }

input:focus {
  outline: none; }

button {
  background-color: #55c57a;
  width: 12rem;
  height: 3rem;
  border-radius: 1rem;
  color: #fff;
  padding: 0.5rem;
  margin: 0 1rem;
  border: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1e1e1e; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  margin-top: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-size: 5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.u-margin-top-huge {
  margin-bottom: 10rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #1e1e1e; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #28b485;
  color: #fff; }
  .btn--green::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.btn-txt:link, .btn-txt:visited {
  font-size: 2rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all 0.2s; }

.btn-txt:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-txt:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem;
  margin-top: 50px; }
  .card__side {
    height: 32rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #894ebc, #612e98); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #28ad47, #1c8631); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #fadb0a, #dbab0f); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #4c97d0, #2d72a8); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #d02946, #a5243a); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 100%;
    background-blend-mode: screen;
    border-radius: 5px; }
    .card__picture--1 {
      background-image: url(../img/bo.png); }
    .card__picture--2 {
      background-image: url(../img/beep.png); }
    .card__picture--3 {
      background-image: url(../img/bing.png);
      background-position-x: -50px; }
    .card__picture--4 {
      background-image: url(../img/bang.png); }
    .card__picture--5 {
      background-image: url(../img/boop.png);
      background-position-x: -100px; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%; }
  .card__details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__box-text {
    color: #fff;
    font-size: 2rem; }

.code-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .code-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.code-box-1 {
  border: 4px solid #612e98; }
  .code-box-1__img {
    display: block;
    height: 100%;
    margin: 0 auto; }
  .code-box-1__popup {
    display: none; }
    .code-box-1__popup--input {
      margin: 3rem 2rem; }
    .code-box-1__popup--btn {
      width: 3rem; }

.code-box-2 {
  border: 4px solid #1c8631; }
  .code-box-2__img {
    display: block;
    height: 100%;
    margin: 0 auto; }
  .code-box-2__popup {
    display: none; }
    .code-box-2__popup--input {
      margin: 3rem 2rem; }
    .code-box-2__popup--btn {
      width: 3rem; }

.code-box-3 {
  border: 4px solid #dbab0f; }
  .code-box-3__img {
    display: block;
    height: 100%;
    margin: 0 auto; }
  .code-box-3__popup {
    display: none; }
    .code-box-3__popup--input {
      margin: 3rem 2rem; }
    .code-box-3__popup--btn {
      width: 3rem; }

.code-box-4 {
  border: 4px solid #2d72a8; }
  .code-box-4__img {
    display: block;
    height: 100%;
    margin: 0 auto; }
  .code-box-4__popup {
    display: none; }
    .code-box-4__popup--input {
      margin: 3rem 2rem; }
    .code-box-4__popup--btn {
      width: 3rem; }

.code-box-5 {
  border: 4px solid #a5243a; }
  .code-box-5__img {
    display: block;
    height: 100%;
    margin: 0 auto; }
  .code-box-5__popup {
    display: none; }
    .code-box-5__popup--input {
      margin: 3rem 2rem; }
    .code-box-5__popup--btn {
      width: 3rem; }

.composition {
  position: relative;
  margin-top: 5rem; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transform: all 0.2;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #7ed56f;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.popupCorrect {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popupCorrect:target {
    opacity: 1;
    visibility: visible; }
  .popupCorrect:target .popupCorrect__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popupCorrect__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba #000, 0.2;
    border-radius: 5px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.2s; }
  .popupCorrect__left {
    width: 33.333%;
    display: table-cell; }
  .popupCorrect__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    text-align: center; }
  .popupCorrect__img {
    display: block;
    width: 100%;
    margin-left: 2rem; }
  .popupCorrect__text {
    font-size: 1.4rem;
    margin: 3rem 0 4rem 0; }

.popupWrong {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popupWrong:target {
    opacity: 1;
    visibility: visible; }
  .popupWrong:target .popupWrong__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popupWrong__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba #000, 0.2;
    border-radius: 5px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.2s; }
  .popupWrong__left {
    width: 33.333%;
    display: table-cell; }
  .popupWrong__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    text-align: center; }
  .popupWrong__img {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    margin-left: 2rem; }
  .popupWrong__text {
    font-size: 1.4rem;
    margin: 3rem 0 4rem 0; }

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  @media (max-width: 37.5em) {
    .footer {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%); } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 4rem; }
  .footer__logo {
    width: 30rem;
    height: auto; }
  .footer__navigation {
    display: inline-block; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    transform: rotate(5deg) scale(1.3); }

.footer .row {
  border-top: 1px solid #f7f7f7;
  padding: 2rem;
  text-align: center; }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)), url(../img/bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 80%); }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 80%); } }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 80%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem;
  margin-top: -40vh;
  align-items: center; }
  @media (max-width: 75em) {
    .section-about {
      margin-top: -35vh;
      padding: 10rem; } }
  @media (max-width: 56.25em) {
    .section-about {
      margin-top: -25vh;
      padding: 5rem; } }

.section-code {
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)); }

.section-clues {
  background-color: #f7f7f7;
  padding: 5rem 0 5rem 0;
  text-align: center; }
