.code-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: $code-box-shadow;
  transition: transform 0.3s;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.code-box-1 {
  border: 4px solid $color-bo-dark;

  &__img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  &__popup {
    display: none;

    &--input {
      margin: 3rem 2rem;
    }

    &--btn {
      width: 3rem;
    }
  }
}

.code-box-2 {
  border: 4px solid $color-beep-dark;

  &__img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  &__popup {
    display: none;

    &--input {
      margin: 3rem 2rem;
    }

    &--btn {
      width: 3rem;
    }
  }
}
.code-box-3 {
  border: 4px solid $color-bing-dark;

  &__img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  &__popup {
    display: none;

    &--input {
      margin: 3rem 2rem;
    }

    &--btn {
      width: 3rem;
    }
  }
}
.code-box-4 {
  border: 4px solid $color-bang-dark;

  &__img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  &__popup {
    display: none;

    &--input {
      margin: 3rem 2rem;
    }

    &--btn {
      width: 3rem;
    }
  }
}
.code-box-5 {
  border: 4px solid $color-boop-dark;

  &__img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  &__popup {
    display: none;

    &--input {
      margin: 3rem 2rem;
    }

    &--btn {
      width: 3rem;
    }
  }
}
